* {
    width: 350px;
    margin: auto;
}

form {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: 2px 2px 10px gray;
}

input[type="text"] {
    width: 150px;
    padding: 2px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}



input[type="email"],
input[type="password"],
input[type="date"], input[type="submit"]  {
    width: 93%;
    padding: 2px;
    margin-bottom:  20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    float: left;
}

.gender {
    display: flex;
 }
 .false {
    border: 2px solid rgba(255, 0, 0, 0.456);
    background-color: rgba(252, 0, 0, 0.225);
    padding: 5px;
    width: 90%;
    font-size:small;
    float: left;
 }
 .center {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    background-color: #00b506;
    border-radius: 15px;
 }
 .center:hover {
    background-color: #49ff4c;
 }
 img {
    width: 10%;
    float: right;
 }