* {
    background-color: rgba(167, 167, 167, 0.514);
}

header {
    position: absolute;
    right: 0;
    background: lime;
    width: 80%;
    height: 30px;
}

nav {
    position:fixed;
    right: 0;
    top: 30px;
    background-color: blueviolet;
    width: 80%;
    height: 100px;
}

aside {
    position: absolute;
    left: 0;
    background-color: black;
    width: 20%;
    height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: bisque;
    width: 80%;
    height: 100px;
}