body {
    background-color: #c6c6c62b;
}

nav img {
    float: left;
    width: 100px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 2px;
}

nav {
    
    position: fixed;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

nav li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #04AA6D;
}
article {
    position:absolute;
    width: 100%;
    margin-bottom: 0;
    top: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #111;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 20px;
}

iframe[name=page] {
    width: 100%;
    height: 80vh;
}
